Blatt7/Blatt7Aufgabe1.1/src/conf/xml-resources/web-service-references/UserWebService/wsdl/scl2-ifm-min.ad.fh-bielefeld.de_8080/SCL_Usermanager/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.user.scl.fhbielefeld.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.user.scl.fhbielefeld.de/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.user.scl.fhbielefeld.de/" schemaLocation="http://scl2-ifm-min.ad.fh-bielefeld.de:8080/SCL_Usermanager/UserWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="grantRight">
<part name="parameters" element="tns:grantRight"/>
</message>
<message name="grantRightResponse">
<part name="parameters" element="tns:grantRightResponse"/>
</message>
<message name="revokeRight">
<part name="parameters" element="tns:revokeRight"/>
</message>
<message name="revokeRightResponse">
<part name="parameters" element="tns:revokeRightResponse"/>
</message>
<message name="performLogout">
<part name="parameters" element="tns:performLogout"/>
</message>
<message name="performLogoutResponse">
<part name="parameters" element="tns:performLogoutResponse"/>
</message>
<message name="userHasRight">
<part name="parameters" element="tns:userHasRight"/>
</message>
<message name="userHasRightResponse">
<part name="parameters" element="tns:userHasRightResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="configureWebService">
<part name="parameters" element="tns:configureWebService"/>
</message>
<message name="configureWebServiceResponse">
<part name="parameters" element="tns:configureWebServiceResponse"/>
</message>
<message name="saveUser">
<part name="parameters" element="tns:saveUser"/>
</message>
<message name="saveUserResponse">
<part name="parameters" element="tns:saveUserResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<portType name="UserWebService">
<operation name="grantRight">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/grantRightRequest" message="tns:grantRight"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/grantRightResponse" message="tns:grantRightResponse"/>
</operation>
<operation name="revokeRight">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/revokeRightRequest" message="tns:revokeRight"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/revokeRightResponse" message="tns:revokeRightResponse"/>
</operation>
<operation name="performLogout">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/performLogoutRequest" message="tns:performLogout"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/performLogoutResponse" message="tns:performLogoutResponse"/>
</operation>
<operation name="userHasRight">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/userHasRightRequest" message="tns:userHasRight"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/userHasRightResponse" message="tns:userHasRightResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="configureWebService">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/configureWebServiceRequest" message="tns:configureWebService"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/configureWebServiceResponse" message="tns:configureWebServiceResponse"/>
</operation>
<operation name="saveUser">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/saveUserRequest" message="tns:saveUser"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/saveUserResponse" message="tns:saveUserResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://webservices.user.scl.fhbielefeld.de/UserWebService/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="grantRight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="revokeRight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="performLogout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userHasRight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="configureWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://scl2-ifm-min.ad.fh-bielefeld.de:8080/SCL_Usermanager/UserWebService"/>
</port>
</service>
</definitions>